[submodule "Theano"]
	path = Theano-git
	url = git://github.com/Theano/Theano.git
[submodule "nntools"]
	path = nntools-git
	url = https://github.com/craffel/nntools.git
	branch = recurrent
[submodule "pycuda"]
	path = pycuda.git
	url = http://git.tiker.net/trees/pycuda.git
	branch = master
